In [1]:
# Notebook für Check Daten Profile & Qualität in Bezug auf das Einlesen --> Spaltenlisten ausgeben; Null-Fremdschlüssel zählen

# 1. Schritt: Stimmen Blatt- und Spalten­namen des eingelesenen Excels (nur _Data-Register).

import pandas as pd
from pathlib import Path

excel_path = Path(
    r"C:\Users\claud\iCloudDrive\Dokumente\02_CLI\Studium\ZHAW\Masterarbeit\vocdata\data\bfs_data_lva.xlsx"
)

xls = pd.ExcelFile(excel_path)

for sh in xls.sheet_names:
    if sh.lower().endswith("_data"):
        # Header-Zeile ermitteln: erste Zeile, in der mindestens 3 Zellen nicht leer sind
        top = pd.read_excel(xls, sheet_name=sh, nrows=15, header=None)
        header_row = next(
            i for i, row in top.iterrows() if row.notna().sum() >= 3
        )

        df = pd.read_excel(xls, sheet_name=sh, header=header_row)
        print("=" * 80)
        print(f"▶︎ Sheet: {sh}")
        display(df.head(10))        # zeigt sauber formatiert im Notebook

================================================================================
▶︎ Sheet: T1_Lernform_Data

,abschlussniveau,lernform,anzahl_lernende,anzahl_lehrvertraege_lva,anzahl_lernende_lva
0,EBA,Dual,5955,1915,1526
1,EBA,SOG,199,57,47
2,EFZ3,Dual,34548,10723,8458
3,EFZ3,SOG,4130,1590,1320
4,EFZ4,Dual,12434,3545,2890
5,EFZ4,SOG,1997,804,644
6,NaN,NaN,59263,18634,14885

================================================================================
▶︎ Sheet: T2_Geschlecht_Data

,abschlussniveau,geschlecht,anzahl_lernende,anzahl_lehrvertraege_lva,anzahl_lernende_lva
0,EBA,Männer,3827.0,1220.0,968.0
1,EBA,Frauen,2128.0,695.0,558.0
2,EBA,Unknown,NaN,NaN,NaN
3,EFZ3,Männer,15868.0,5612.0,4394.0
4,EFZ3,Frauen,18680.0,5111.0,4064.0
5,EFZ3,Unknown,NaN,NaN,NaN
6,EFZ4,Männer,10328.0,2934.0,2384.0
7,EFZ4,Frauen,2106.0,611.0,506.0
8,EFZ4,Unknown,NaN,NaN,NaN

================================================================================
▶︎ Sheet: T3_MIG_Status_Data

,abschlussniveau,mig_status,anzahl_lernende,anzahl_lehrvertraege_lva,anzahl_lernende_lva
0,EBA,CH,2528,901,696
1,EBA,MIG,2558,729,607
2,EBA,Swissborn MIG,842,273,213
3,EBA,MIG Status unbekannt,27,12,10
4,EFZ3,CH,26219,7417,5855
5,EFZ3,MIG,4476,1894,1520
6,EFZ3,Swissborn MIG,3834,1394,1072
7,EFZ3,MIG Status unbekannt,19,18,11
8,EFZ4,CH,10787,2838,2331
9,EFZ4,MIG,947,434,345

================================================================================
▶︎ Sheet: T4_ISCED_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,779,199.0,OK
1,Total_Lernende,212,"Mode, Innenarchitektur und industrielles Design",212,39.0,OK
2,Total_Lernende,214,Kunsthandwerk,212,66.0,OK
3,Total_Lernende,322,"Bibliothek, Informationswesen, Archiv",68,8.0,OK
4,Total_Lernende,415,Sekretariats- und Büroarbeit,8331,1377.0,OK
5,Total_Lernende,416,Gross- und Einzelhandel,6935,1817.0,OK
6,Total_Lernende,613,Software- und Applikationsentwicklung und -ana...,1416,289.0,OK
7,Total_Lernende,711,Chemie und Verfahrenstechnik,475,86.0,OK
8,Total_Lernende,712,Umweltschutztechnologien,28,NaN,<30 Lehrverhältnisse
9,Total_Lernende,713,Elektrizität und Energie,2538,823.0,OK

================================================================================
▶︎ Sheet: T4.1_ISCED_EBA_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,37,8.0,OK
1,EBA,214,Kunsthandwerk,10,NaN,<30 Lehrverhältnisse
2,EBA,415,Sekretariats- und Büroarbeit,274,67.0,OK
3,EBA,416,Gross- und Einzelhandel,1373,336.0,OK
4,EBA,711,Chemie und Verfahrenstechnik,13,NaN,<30 Lehrverhältnisse
5,EBA,713,Elektrizität und Energie,5,NaN,<30 Lehrverhältnisse
6,EBA,715,Maschinenbau und Metallverarbeitung,364,82.0,OK
7,EBA,716,"Kraftfahrzeuge, Schiffe und Flugzeuge",424,111.0,OK
8,EBA,721,Nahrungsmittel,175,55.0,OK
9,EBA,722,"Werkstoffe (Glas, Papier, Kunststoff und Holz)",268,62.0,OK

================================================================================
▶︎ Sheet: T4.2_ISCED_EFZ3_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,53,12.0,OK
1,EFZ3,212,"Mode, Innenarchitektur und industrielles Design",11,NaN,<30 Lehrverhältnisse
2,EFZ3,214,Kunsthandwerk,176,59.0,OK
3,EFZ3,322,"Bibliothek, Informationswesen, Archiv",68,8.0,OK
4,EFZ3,415,Sekretariats- und Büroarbeit,8057,1310.0,OK
5,EFZ3,416,Gross- und Einzelhandel,5340,1439.0,OK
6,EFZ3,613,Software- und Applikationsentwicklung und -ana...,123,19.0,OK
7,EFZ3,711,Chemie und Verfahrenstechnik,432,79.0,OK
8,EFZ3,712,Umweltschutztechnologien,28,NaN,<30 Lehrverhältnisse
9,EFZ3,713,Elektrizität und Energie,863,300.0,OK

================================================================================
▶︎ Sheet: T4.3_ISCED_EFZ4_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,689,179.0,OK
1,EFZ4,212,"Mode, Innenarchitektur und industrielles Design",201,37.0,OK
2,EFZ4,214,Kunsthandwerk,26,NaN,<30 Lehrverhältnisse
3,EFZ4,416,Gross- und Einzelhandel,222,42.0,OK
4,EFZ4,613,Software- und Applikationsentwicklung und -ana...,1293,270.0,OK
5,EFZ4,711,Chemie und Verfahrenstechnik,30,5.0,OK
6,EFZ4,713,Elektrizität und Energie,1670,523.0,OK
7,EFZ4,714,Elektronik und Automation,850,155.0,OK
8,EFZ4,715,Maschinenbau und Metallverarbeitung,2217,387.0,OK
9,EFZ4,716,"Kraftfahrzeuge, Schiffe und Flugzeuge",1361,409.0,OK

================================================================================
▶︎ Sheet: T4.1.1_ISCED_Beruf_EBA_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,37,8.0,OK
1,EBA,214,Kunsthandwerk,Florist/in EBA,10,NaN,<30 Lehrverhältnisse
2,EBA,415,Sekretariats- und Büroarbeit,Büroassistent/in EBA,274,67.0,OK
3,EBA,416,Gross- und Einzelhandel,Detailhandelsassistent/in EBA,1094,283.0,OK
4,EBA,416,Gross- und Einzelhandel,Logistiker/in EBA,279,53.0,OK
5,EBA,711,Chemie und Verfahrenstechnik,Chemie- und Pharmapraktiker/in EBA,13,NaN,<30 Lehrverhältnisse
6,EBA,713,Elektrizität und Energie,Kältemontage-Praktiker/in EBA,5,NaN,<30 Lehrverhältnisse
7,EBA,715,Maschinenbau und Metallverarbeitung,Oberflächenpraktiker/in EBA,13,NaN,<30 Lehrverhältnisse
8,EBA,715,Maschinenbau und Metallverarbeitung,Mechanikpraktiker/in EBA,116,22.0,OK
9,EBA,715,Maschinenbau und Metallverarbeitung,Metallbaupraktiker/in EBA,99,24.0,OK

================================================================================
▶︎ Sheet: T4.2.1_ISCED_Beruf_EFZ3_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Flexodrucker/in EFZ,8,NaN,<30 Lehrverhältnisse
1,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Fotofachmann/-frau EFZ,45,12.0,OK
2,EFZ3,212,"Mode, Innenarchitektur und industrielles Design",Wohntextilgestalter/in EFZ,11,NaN,<30 Lehrverhältnisse
3,EFZ3,214,Kunsthandwerk,Florist/in EFZ,162,56.0,OK
4,EFZ3,214,Kunsthandwerk,Vergolder/in-Einrahmer/in EFZ,2,NaN,<30 Lehrverhältnisse
5,EFZ3,214,Kunsthandwerk,Musikinstrumentenbauer/in EFZ,11,NaN,<30 Lehrverhältnisse
6,EFZ3,214,Kunsthandwerk,Korb- und Flechtwerkgestalter/in EFZ,1,NaN,<30 Lehrverhältnisse
7,EFZ3,322,"Bibliothek, Informationswesen, Archiv",Fachmann/-frau Information und Dokumentation EFZ,68,8.0,OK
8,EFZ3,415,Sekretariats- und Büroarbeit,Kaufmann/-frau EFZ E,7338,1066.0,OK
9,EFZ3,415,Sekretariats- und Büroarbeit,Kaufmann/-frau EFZ B,719,244.0,OK

================================================================================
▶︎ Sheet: T4.3.1_ISCED_Beruf_EFZ4_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,27,NaN,<30 Lehrverhältnisse
1,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,82,16.0,OK
2,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Polygraf/in EFZ,100,18.0,OK
3,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Interactive Media Designer EFZ,52,11.0,OK
4,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Mediamatiker/in EFZ,340,106.0,OK
5,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Veranstaltungsfachmann/-frau EFZ,32,3.0,OK
6,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Fotograf/in EFZ,4,NaN,<30 Lehrverhältnisse
7,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Grafiker/in EFZ,52,12.0,OK
8,EFZ4,212,"Mode, Innenarchitektur und industrielles Design",Innendekorateur/in,27,NaN,<30 Lehrverhältnisse
9,EFZ4,212,"Mode, Innenarchitektur und industrielles Design",Theatermaler/in EFZ,2,NaN,<30 Lehrverhältnisse

================================================================================
▶︎ Sheet: T5_LVA_t_Data

  abschlussniveau               lva_zeitpunkt  anzahl_lernende_lva
0           EBA      Probezeit (1.-3. Monat)*                  278
1           EBA    1. Lehrjahr (4.-12. Monat)                  867
2           EBA                   2. Lehrjahr                  341
3           EBA                 > 2. Lehrjahr                   40
4            EFZ3    Probezeit (1.-3. Monat)*                  969
5            EFZ3  1. Lehrjahr (4.-12. Monat)                 4120
6            EFZ3                 2. Lehrjahr                 2486
7            EFZ3               > 2. Lehrjahr                  883
8            EFZ4    Probezeit (1.-3. Monat)*                  187
9            EFZ4  1. Lehrjahr (4.-12. Monat)                 1196

================================================================================
▶︎ Sheet: T6_Wiedereinstieg_Data

  abschlussniveau       wiedereinstieg  anzahl_lernende_lva
0            EBA   Ohne Wiedereinstieg                  613
1            EBA    Mit Wiedereinstieg                  913
2            EFZ3  Ohne Wiedereinstieg                 1669
3            EFZ3   Mit Wiedereinstieg                 6789
4            EFZ4  Ohne Wiedereinstieg                  487
5            EFZ4   Mit Wiedereinstieg                 2403

================================================================================
▶︎ Sheet: T7_Zeitpkt_Wiedereinstieg_Data

  abschlussniveau wiedereinstieg_dauer  anzahl_lernende_wiedereinstieg
0           EBA    Im 1. Jahr nach LVA                             627
1           EBA    Im 2. Jahr nach LVA                             187
2           EBA              > 2. Jahr                              99
3            EFZ3  Im 1. Jahr nach LVA                            5503
4            EFZ3  Im 2. Jahr nach LVA                             964
5            EFZ3            > 2. Jahr                             322
6            EFZ4  Im 1. Jahr nach LVA                            2055
7            EFZ4  Im 2. Jahr nach LVA                             282
8            EFZ4            > 2. Jahr                              66

================================================================================
▶︎ Sheet: T8_Geschlecht_Wiedereinst_Data

  abschlussniveau geschlecht  anzahl_lernende_wiedereinstieg
0           EBA       Männer                             968
1           EBA       Frauen                             558
2            EFZ3     Männer                            4394
3            EFZ3     Frauen                            4064
4            EFZ4     Männer                            2384
5            EFZ4     Frauen                             506

================================================================================
▶︎ Sheet: T9_ISCED_Beruf_WEstg_G_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,8.0,NaN,<20 LVA
1,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
2,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,16.0,NaN,<20 LVA
3,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Fotofachmann/-frau EFZ,12.0,NaN,<20 LVA
4,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Polygraf/in EFZ,18.0,NaN,<20 LVA
5,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Interactive Media Designer EFZ,11.0,NaN,<20 LVA
6,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Mediamatiker/in EFZ,106.0,92.0,OK
7,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Veranstaltungsfachmann/-frau EFZ,3.0,NaN,<20 LVA
8,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Fotograf/in EFZ,NaN,NaN,<30 Lehrverhältnisse
9,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Grafiker/in EFZ,12.0,NaN,<20 LVA

================================================================================
▶︎ Sheet: T9_ISCED_Beruf_WEstg_EBA_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,8.0,NaN,<20 LVA
1,EBA,214,Kunsthandwerk,Florist/in EBA,NaN,NaN,<30 Lehrverhältnisse
2,EBA,415,Sekretariats- und Büroarbeit,Büroassistent/in EBA,67.0,41.0,OK
3,EBA,416,Gross- und Einzelhandel,Detailhandelsassistent/in EBA,283.0,169.0,OK
4,EBA,416,Gross- und Einzelhandel,Logistiker/in EBA,53.0,29.0,OK
5,EBA,711,Chemie und Verfahrenstechnik,Chemie- und Pharmapraktiker/in EBA,NaN,NaN,<30 Lehrverhältnisse
6,EBA,715,Maschinenbau und Metallverarbeitung,Oberflächenpraktiker/in EBA,NaN,NaN,<30 Lehrverhältnisse
7,EBA,715,Maschinenbau und Metallverarbeitung,Mechanikpraktiker/in EBA,22.0,9.0,OK
8,EBA,715,Maschinenbau und Metallverarbeitung,Metallbaupraktiker/in EBA,24.0,11.0,OK
9,EBA,715,Maschinenbau und Metallverarbeitung,Uhrenarbeiter/in EBA,12.0,NaN,<20 LVA

================================================================================
▶︎ Sheet: T9_ISCED_Beruf_WEstg_EFZ3_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Fotofachmann/-frau EFZ,12.0,NaN,<20 LVA
1,EFZ3,212,"Mode, Innenarchitektur und industrielles Design",Wohntextilgestalter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
2,EFZ3,214,Kunsthandwerk,Florist/in EFZ,56.0,46.0,OK
3,EFZ3,214,Kunsthandwerk,Vergolder/in-Einrahmer/in EFZ,NaN,NaN,<30 Lehrverhältnisse
4,EFZ3,214,Kunsthandwerk,Musikinstrumentenbauer/in EFZ,NaN,NaN,<30 Lehrverhältnisse
5,EFZ3,322,"Bibliothek, Informationswesen, Archiv",Fachmann/-frau Information und Dokumentation EFZ,8.0,NaN,<20 LVA
6,EFZ3,415,Sekretariats- und Büroarbeit,Kaufmann/-frau EFZ E,1066.0,841.0,OK
7,EFZ3,415,Sekretariats- und Büroarbeit,Kaufmann/-frau EFZ B,244.0,182.0,OK
8,EFZ3,416,Gross- und Einzelhandel,Detailhandelsfachmann/-frau EFZ,941.0,770.0,OK
9,EFZ3,416,Gross- und Einzelhandel,Pharma-Assistent/in EFZ,197.0,172.0,OK

================================================================================
▶︎ Sheet: T9_ISCED_Beruf_WEstg_EFZ4_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
1,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,16.0,NaN,<20 LVA
2,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Polygraf/in EFZ,18.0,NaN,<20 LVA
3,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Interactive Media Designer EFZ,11.0,NaN,<20 LVA
4,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Mediamatiker/in EFZ,106.0,92.0,OK
5,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Veranstaltungsfachmann/-frau EFZ,3.0,NaN,<20 LVA
6,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Fotograf/in EFZ,NaN,NaN,<30 Lehrverhältnisse
7,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Grafiker/in EFZ,12.0,NaN,<20 LVA
8,EFZ4,212,"Mode, Innenarchitektur und industrielles Design",Innendekorateur/in,NaN,NaN,<30 Lehrverhältnisse
9,EFZ4,212,"Mode, Innenarchitektur und industrielles Design",Gestalter/in Werbetechnik EFZ,24.0,18.0,OK

================================================================================
▶︎ Sheet: T10_Anschlussart_LVA_Data

,abschlussniveau,lva_anschlussart,anzahl_lernende
0,EBA,"Neubeginn, kein Betriebswechsel",52
1,EBA,"Neubeginn, mit Betriebswechsel",305
2,EBA,"Berufswechsel, gleiche Dauer + anderes Feld",163
3,EBA,"Berufswechsel, gleiche Dauer + gleiches Feld",22
4,EBA,"Berufswechsel, andere Dauer + gleiches Feld",137
5,EBA,"Berufswechsel, andere Dauer + anderes Feld",225
6,EBA,"Neubeginn, Betriebswechsel unbekannt",9
7,EBA,LVA ohne Wiedereinstieg,613
8,EFZ3,"Neubeginn, kein Betriebswechsel",226
9,EFZ3,"Neubeginn, mit Betriebswechsel",2801

================================================================================
▶︎ Sheet: T11_QV_Status_Ende_t_Data

  abschlussniveau                       qv_status  anzahl_lernende
0           EBA                      QV bestanden             4568
1           EBA                QV nicht bestanden               96
2           EBA                Noch in Ausbildung              126
3           EBA    Austritt berufl. Grundbildung               750
4            EFZ3                    QV bestanden            30758
5            EFZ3              QV nicht bestanden              448
6            EFZ3              Noch in Ausbildung              920
7            EFZ3  Austritt berufl. Grundbildung              2592
8            EFZ4                    QV bestanden            11264
9            EFZ4              QV nicht bestanden              216

================================================================================
▶︎ Sheet: T12_QV_Status_Ende_t_sex_Data

  abschlussniveau geschlecht                       qv_status  anzahl_lernende
0           EBA       Männer                    QV bestanden             2699
1           EBA       Frauen                    QV bestanden             1869
2           EBA       Männer              QV nicht bestanden               79
3           EBA       Frauen              QV nicht bestanden               17
4           EBA       Männer              Noch in Ausbildung               84
5           EBA       Frauen              Noch in Ausbildung               42
6           EBA       Männer  Austritt berufl. Grundbildung               486
7           EBA       Frauen  Austritt berufl. Grundbildung               264
8            EFZ3     Männer                    QV bestanden            13456
9            EFZ3     Frauen                    QV bestanden            17302

================================================================================
▶︎ Sheet: T13_QV_Status_Ende_t_MIG_Data

  abschlussniveau mig_status                       qv_status  anzahl_lernende
0           EBA           CH                    QV bestanden             2134
1           EBA           CH              QV nicht bestanden               47
2           EBA           CH              Noch in Ausbildung               68
3           EBA           CH  Austritt berufl. Grundbildung               334
4            EFZ3         CH                    QV bestanden            24248
5            EFZ3         CH              QV nicht bestanden              305
6            EFZ3         CH              Noch in Ausbildung              698
7            EFZ3         CH  Austritt berufl. Grundbildung              1703
8            EFZ4         CH                    QV bestanden             9894
9            EFZ4         CH              QV nicht bestanden              156

================================================================================
▶︎ Sheet: T14_QV_Status_Ende_t_Beruf_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,qv_status,anzahl_lernende,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,QV bestanden,NaN,<30
1,EBA,211,Audiovisuelle Techniken und Medienproduktion,QV nicht bestanden,NaN,<30
2,EBA,211,Audiovisuelle Techniken und Medienproduktion,Noch in Ausbildung,NaN,<30
3,EBA,211,Audiovisuelle Techniken und Medienproduktion,Austritt berufl. Grundbildung,NaN,<30
4,EBA,212,"Mode, Innenarchitektur und industrielles Design",QV bestanden,NaN,<30
5,EBA,212,"Mode, Innenarchitektur und industrielles Design",QV nicht bestanden,NaN,<30
6,EBA,212,"Mode, Innenarchitektur und industrielles Design",Noch in Ausbildung,NaN,<30
7,EBA,212,"Mode, Innenarchitektur und industrielles Design",Austritt berufl. Grundbildung,NaN,<30
8,EBA,214,Kunsthandwerk,QV bestanden,NaN,<30
9,EBA,214,Kunsthandwerk,QV nicht bestanden,NaN,<30

In [2]:

# %% ------------- DATA_SHEETS neu definieren -------------
import pandas as pd
from pathlib import Path

excel_path = Path(
    r"C:\Users\claud\iCloudDrive\Dokumente\02_CLI\Studium\ZHAW\Masterarbeit\vocdata\data\bfs_data_lva.xlsx"
)
xls = pd.ExcelFile(excel_path)

# alle Register, deren Name auf "_Data" endet
DATA_SHEETS = [s for s in xls.sheet_names if s.endswith("_Data")]
print("DATA_SHEETS =", DATA_SHEETS)   # Kontrolle

DATA_SHEETS = ['T1_Lernform_Data', 'T2_Geschlecht_Data', 'T3_MIG_Status_Data', 'T4_ISCED_Data', 'T4.1_ISCED_EBA_Data', 'T4.2_ISCED_EFZ3_Data', 'T4.3_ISCED_EFZ4_Data', 'T4.1.1_ISCED_Beruf_EBA_Data', 'T4.2.1_ISCED_Beruf_EFZ3_Data', 'T4.3.1_ISCED_Beruf_EFZ4_Data', 'T5_LVA_t_Data', 'T6_Wiedereinstieg_Data', 'T7_Zeitpkt_Wiedereinstieg_Data', 'T8_Geschlecht_Wiedereinst_Data', 'T9_ISCED_Beruf_WEstg_G_Data', 'T9_ISCED_Beruf_WEstg_EBA_Data', 'T9_ISCED_Beruf_WEstg_EFZ3_Data', 'T9_ISCED_Beruf_WEstg_EFZ4_Data', 'T10_Anschlussart_LVA_Data', 'T11_QV_Status_Ende_t_Data', 'T12_QV_Status_Ende_t_sex_Data', 'T13_QV_Status_Ende_t_MIG_Data', 'T14_QV_Status_Ende_t_Beruf_Data']

In [3]:

# Mapping mit Spalte Datenstatus - Kontrolle Spaltenübersicht pro Blatt – nur einmal zur Orientierung
# ------------------------------------------------------------------
for sh in DATA_SHEETS:
    df = pd.read_excel(xls, sheet_name=sh, nrows=0)   # nur Header einlesen
    print(f"\n=== {sh} ===")
    print(list(df.columns))

=== T1_Lernform_Data ===
['abschlussniveau', 'lernform', 'anzahl_lernende', 'anzahl_lehrvertraege_lva', 'anzahl_lernende_lva']

=== T2_Geschlecht_Data ===
['abschlussniveau', 'geschlecht', 'anzahl_lernende', 'anzahl_lehrvertraege_lva', 'anzahl_lernende_lva']

=== T3_MIG_Status_Data ===
['abschlussniveau', 'mig_status', 'anzahl_lernende', 'anzahl_lehrvertraege_lva', 'anzahl_lernende_lva']

=== T4_ISCED_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'anzahl_lernende', 'anzahl_lernende_lva', 'datenstatus']

=== T4.1_ISCED_EBA_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'anzahl_lernende', 'anzahl_lernende_lva', 'datenstatus']

=== T4.2_ISCED_EFZ3_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'anzahl_lernende', 'anzahl_lernende_lva', 'datenstatus']

=== T4.3_ISCED_EFZ4_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'anzahl_lernende', 'anzahl_lernende_lva', 'datenstatus']

=== T4.1.1_ISCED_Beruf_EBA_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'beruf_bez', 'anzahl_lernende', 'anzahl_lernende_lva', 'datenstatus']

=== T4.2.1_ISCED_Beruf_EFZ3_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'beruf_bez', 'anzahl_lernende', 'anzahl_lernende_lva', 'datenstatus']

=== T4.3.1_ISCED_Beruf_EFZ4_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'beruf_bez', 'anzahl_lernende', 'anzahl_lernende_lva', 'datenstatus']

=== T5_LVA_t_Data ===
['abschlussniveau', 'lva_zeitpunkt', 'anzahl_lernende_lva']

=== T6_Wiedereinstieg_Data ===
['abschlussniveau', 'wiedereinstieg', 'anzahl_lernende_lva']

=== T7_Zeitpkt_Wiedereinstieg_Data ===
['abschlussniveau', 'wiedereinstieg_dauer', 'anzahl_lernende_wiedereinstieg']

=== T8_Geschlecht_Wiedereinst_Data ===
['abschlussniveau', 'geschlecht', 'anzahl_lernende_wiedereinstieg']

=== T9_ISCED_Beruf_WEstg_G_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'beruf_bez', 'anzahl_lernende_lva', 'anzahl_lernende_wiedereinstieg', 'datenstatus']

=== T9_ISCED_Beruf_WEstg_EBA_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'beruf_bez', 'anzahl_lernende_lva', 'anzahl_lernende_wiedereinstieg', 'datenstatus']

=== T9_ISCED_Beruf_WEstg_EFZ3_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'beruf_bez', 'anzahl_lernende_lva', 'anzahl_lernende_wiedereinstieg', 'datenstatus']

=== T9_ISCED_Beruf_WEstg_EFZ4_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'beruf_bez', 'anzahl_lernende_lva', 'anzahl_lernende_wiedereinstieg', 'datenstatus']

=== T10_Anschlussart_LVA_Data ===
['abschlussniveau', 'lva_anschlussart', 'anzahl_lernende']

=== T11_QV_Status_Ende_t_Data ===
['abschlussniveau', 'qv_status', 'anzahl_lernende']

=== T12_QV_Status_Ende_t_sex_Data ===
['abschlussniveau', 'geschlecht', 'qv_status', 'anzahl_lernende']

=== T13_QV_Status_Ende_t_MIG_Data ===
['abschlussniveau', 'mig_status', 'qv_status', 'anzahl_lernende']

=== T14_QV_Status_Ende_t_Beruf_Data ===
['abschlussniveau', 'ausbildungsfeld_isced_code', 'ausbildungsfeld_isced_bez', 'qv_status', 'anzahl_lernende', 'datenstatus']

In [4]:
# ## Data Quality Check: Anzahl Null-Fremdschlüssel pro Dimension
# %%  ─────────  LVA-Faktentabelle grob prüfen  ─────────
import pandas as pd
from sqlalchemy import create_engine, text

engine = create_engine(
    "mysql+pymysql://root:voc_root@localhost:3306/vocdata",
    echo=False, future=True
)

qry = """
SELECT
    COUNT(*)                                    AS total_rows,
    SUM(abschlussniveau_id  IS NULL)            AS null_abschlussniveau,
    SUM(lernform_id         IS NULL)            AS null_lernform,
    SUM(geschlecht_id       IS NULL)            AS null_geschlecht,
    SUM(mig_status_id       IS NULL)            AS null_mig_status,
    SUM(anschlussart_id     IS NULL)            AS null_anschlussart,
    SUM(qv_status_id        IS NULL)            AS null_qv_status,
    SUM(isced_id            IS NULL)            AS null_isced,
    SUM(beruf_id            IS NULL)            AS null_beruf
FROM fact_lva_stats;
"""

with engine.begin() as con:
    res = con.execute(text(qry)).mappings().one()

print("Null-Fremdschlüssel in fact_lva_stats:")
for k, v in res.items():
    print(f"  {k}: {v}")

Null-Fremdschlüssel in fact_lva_stats:
  total_rows: 1191
  null_abschlussniveau: 0
  null_lernform: 0
  null_geschlecht: 0
  null_mig_status: 0
  null_anschlussart: 0
  null_qv_status: 0
  null_isced: 0
  null_beruf: 0

In [5]:
# Pfad zum BFS Excel LVA
SRC_FILE = r"C:\Users\claud\iCloudDrive\Dokumente\02_CLI\Studium\ZHAW\Masterarbeit\vocdata\data\bfs_data_lva.xlsx"   
xls = pd.ExcelFile(SRC_FILE)

print("Quelle gesetzt:", SRC_FILE)

Quelle gesetzt: C:\Users\claud\iCloudDrive\Dokumente\02_CLI\Studium\ZHAW\Masterarbeit\vocdata\data\bfs_data_lva.xlsx

In [6]:
targets = [s for s in xls.sheet_names if s.startswith(("T4", "T9", "T25"))]
print("Gefundene Blätter:", targets)

Gefundene Blätter: ['T4_ISCED_Data', 'T4.1_ISCED_EBA_Data', 'T4.2_ISCED_EFZ3_Data', 'T4.3_ISCED_EFZ4_Data', 'T4_ISCED_Dict', 'T4.1.1_ISCED_Beruf_EBA_Data', 'T4.2.1_ISCED_Beruf_EFZ3_Data', 'T4.3.1_ISCED_Beruf_EFZ4_Data', 'T4.1._ISCED_Beruf_Dict', 'T9_ISCED_Beruf_WEstg_G_Data', 'T9_ISCED_Beruf_WEstg_EBA_Data', 'T9_ISCED_Beruf_WEstg_EFZ3_Data', 'T9_ISCED_Beruf_WEstg_EFZ4_Data', 'T9_ISCED_Beruf_W-Einstieg_Dict']

In [7]:
# ------------------------------------------------------------------
# 1) Excel Tabs mit Daten (Suffix Data)
# ------------------------------------------------------------------
DATA_SHEETS = [s for s in targets if s.endswith("_Data")]
print("DATA_SHEETS =", DATA_SHEETS)

# ------------------------------------------------------------------
# 2) Schnell-Vorschau – erste drei Zeilen je Blatt
# ------------------------------------------------------------------
for sh in DATA_SHEETS:
    df = pd.read_excel(xls, sheet_name=sh, nrows=3)
    print(f"\n=== {sh} ===")
    display(df)

DATA_SHEETS = ['T4_ISCED_Data', 'T4.1_ISCED_EBA_Data', 'T4.2_ISCED_EFZ3_Data', 'T4.3_ISCED_EFZ4_Data', 'T4.1.1_ISCED_Beruf_EBA_Data', 'T4.2.1_ISCED_Beruf_EFZ3_Data', 'T4.3.1_ISCED_Beruf_EFZ4_Data', 'T9_ISCED_Beruf_WEstg_G_Data', 'T9_ISCED_Beruf_WEstg_EBA_Data', 'T9_ISCED_Beruf_WEstg_EFZ3_Data', 'T9_ISCED_Beruf_WEstg_EFZ4_Data']

=== T4_ISCED_Data ===

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,779,199,OK
1,Total_Lernende,212,"Mode, Innenarchitektur und industrielles Design",212,39,OK
2,Total_Lernende,214,Kunsthandwerk,212,66,OK

=== T4.1_ISCED_EBA_Data ===

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,37,8.0,OK
1,EBA,214,Kunsthandwerk,10,NaN,<30 Lehrverhältnisse
2,EBA,415,Sekretariats- und Büroarbeit,274,67.0,OK

=== T4.2_ISCED_EFZ3_Data ===

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,53,12.0,OK
1,EFZ3,212,"Mode, Innenarchitektur und industrielles Design",11,NaN,<30 Lehrverhältnisse
2,EFZ3,214,Kunsthandwerk,176,59.0,OK

=== T4.3_ISCED_EFZ4_Data ===

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,689,179.0,OK
1,EFZ4,212,"Mode, Innenarchitektur und industrielles Design",201,37.0,OK
2,EFZ4,214,Kunsthandwerk,26,NaN,<30 Lehrverhältnisse

=== T4.1.1_ISCED_Beruf_EBA_Data ===

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,37,8.0,OK
1,EBA,214,Kunsthandwerk,Florist/in EBA,10,NaN,<30 Lehrverhältnisse
2,EBA,415,Sekretariats- und Büroarbeit,Büroassistent/in EBA,274,67.0,OK

=== T4.2.1_ISCED_Beruf_EFZ3_Data ===

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Flexodrucker/in EFZ,8,NaN,<30 Lehrverhältnisse
1,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Fotofachmann/-frau EFZ,45,12.0,OK
2,EFZ3,212,"Mode, Innenarchitektur und industrielles Design",Wohntextilgestalter/in EFZ,11,NaN,<30 Lehrverhältnisse

=== T4.3.1_ISCED_Beruf_EFZ4_Data ===

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,27,NaN,<30 Lehrverhältnisse
1,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,82,16.0,OK
2,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Polygraf/in EFZ,100,18.0,OK

=== T9_ISCED_Beruf_WEstg_G_Data ===

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,8.0,NaN,<20 LVA
1,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
2,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,16.0,NaN,<20 LVA

=== T9_ISCED_Beruf_WEstg_EBA_Data ===

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,8.0,NaN,<20 LVA
1,EBA,214,Kunsthandwerk,Florist/in EBA,NaN,NaN,<30 Lehrverhältnisse
2,EBA,415,Sekretariats- und Büroarbeit,Büroassistent/in EBA,67.0,41.0,OK

=== T9_ISCED_Beruf_WEstg_EFZ3_Data ===

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Fotofachmann/-frau EFZ,12.0,NaN,<20 LVA
1,EFZ3,212,"Mode, Innenarchitektur und industrielles Design",Wohntextilgestalter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
2,EFZ3,214,Kunsthandwerk,Florist/in EFZ,56.0,46.0,OK

=== T9_ISCED_Beruf_WEstg_EFZ4_Data ===

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
1,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,16.0,NaN,<20 LVA
2,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Polygraf/in EFZ,18.0,NaN,<20 LVA

In [8]:
# Qualitäts-Check: Werden alle *_Data-Blätter gelesen?
from pathlib import Path
import pandas as pd

xls = pd.ExcelFile(Path("../data/bfs_data_lva.xlsx"))
for sh in xls.sheet_names:
    if sh.lower().endswith("_data"):
        df = pd.read_excel(xls, sheet_name=sh)
        print(f"✓ {sh}: {len(df)} Zeilen (Excel)")

✓ T1_Lernform_Data: 7 Zeilen (Excel)
✓ T2_Geschlecht_Data: 9 Zeilen (Excel)
✓ T3_MIG_Status_Data: 13 Zeilen (Excel)
✓ T4_ISCED_Data: 31 Zeilen (Excel)
✓ T4.1_ISCED_EBA_Data: 20 Zeilen (Excel)
✓ T4.2_ISCED_EFZ3_Data: 30 Zeilen (Excel)
✓ T4.3_ISCED_EFZ4_Data: 18 Zeilen (Excel)
✓ T4.1.1_ISCED_Beruf_EBA_Data: 55 Zeilen (Excel)
✓ T4.2.1_ISCED_Beruf_EFZ3_Data: 106 Zeilen (Excel)
✓ T4.3.1_ISCED_Beruf_EFZ4_Data: 67 Zeilen (Excel)
✓ T5_LVA_t_Data: 12 Zeilen (Excel)
✓ T6_Wiedereinstieg_Data: 6 Zeilen (Excel)
✓ T7_Zeitpkt_Wiedereinstieg_Data: 9 Zeilen (Excel)
✓ T8_Geschlecht_Wiedereinst_Data: 6 Zeilen (Excel)
✓ T9_ISCED_Beruf_WEstg_G_Data: 207 Zeilen (Excel)
✓ T9_ISCED_Beruf_WEstg_EBA_Data: 48 Zeilen (Excel)
✓ T9_ISCED_Beruf_WEstg_EFZ3_Data: 98 Zeilen (Excel)
✓ T9_ISCED_Beruf_WEstg_EFZ4_Data: 61 Zeilen (Excel)
✓ T10_Anschlussart_LVA_Data: 24 Zeilen (Excel)
✓ T11_QV_Status_Ende_t_Data: 12 Zeilen (Excel)
✓ T12_QV_Status_Ende_t_sex_Data: 24 Zeilen (Excel)
✓ T13_QV_Status_Ende_t_MIG_Data: 48 Zeilen (Excel)
✓ T14_QV_Status_Ende_t_Beruf_Data: 280 Zeilen (Excel)

In [9]:
#Die Faktentabelle fact_lva_stats ist vollständig geladen

In [10]:
# %% ---------- Vollständigkeits-Audit fact_lva_stats ----------
import pandas as pd
from sqlalchemy import text

qry = """
SELECT
  COUNT(*)                                      AS total_rows,

  -- Kennzahlen auf NULL prüfen
  SUM(anzahl_lernende_lva            IS NULL)   AS null_lernende_lva,
  SUM(anzahl_lernende_wiedereinstieg IS NULL)   AS null_wiedereinstieg,
  SUM(anzahl_lernende               IS NULL)    AS null_lernende,
  SUM(anzahl_lehrvertraege_lva       IS NULL)   AS null_lehrvertraege_lva,
  SUM(anzahl_lehrvertraege           IS NULL)   AS null_lehrvertraege,

  -- FK-IDs auf 0 (UNKNOWN) prüfen
  SUM(abschlussniveau_id   = 0) AS fk_abschl_niv,
  SUM(lernform_id          = 0) AS fk_lernform,
  SUM(geschlecht_id        = 0) AS fk_geschlecht,
  SUM(mig_status_id        = 0) AS fk_mig_status,
  SUM(anschlussart_id      = 0) AS fk_anschlussart,
  SUM(qv_status_id         = 0) AS fk_qv_status,
  SUM(lva_zeitraum_id      = 0) AS fk_lva_zeitraum,
  SUM(wiedereinst_dauer_id = 0) AS fk_wieder_dauer,
  SUM(isced_id             = 0) AS fk_isced,
  SUM(beruf_id             = 0) AS fk_beruf
FROM fact_lva_stats;
"""

audit = pd.read_sql(text(qry), engine)
display(audit.T)   # transponiert = übersichtlicher

                             0
total_rows              1191.0
null_lernende_lva        669.0
null_wiedereinstieg      998.0
null_lernende            510.0
null_lehrvertraege_lva  1165.0
null_lehrvertraege      1191.0
fk_abschl_niv            240.0
fk_lernform             1185.0
fk_geschlecht           1155.0
fk_mig_status           1131.0
fk_anschlussart         1167.0
fk_qv_status             827.0
fk_lva_zeitraum         1179.0
fk_wieder_dauer         1182.0
fk_isced                 170.0
fk_beruf                 549.0

In [11]:
# %%  ─────────  Quick-Profil nach Excel-Überarbeitung  ─────────
from pathlib import Path
import pandas as pd

excel_path = Path("../data/bfs_data_lva.xlsx")   # ggf. Pfad prüfen
xls = pd.ExcelFile(excel_path)

print("Gefundene Sheets:", xls.sheet_names, "\n")

for sheet in xls.sheet_names:
    if sheet.endswith("_Data"):
        df = pd.read_excel(xls, sheet_name=sheet, nrows=5)   # nur Vorschau
        print(f"--- {sheet} ---")
        display(df.head(3))

Gefundene Sheets: ['T1_Lernform_Data', 'T1_Lernform_Dict', 'T2_Geschlecht_Data', 'T2_Geschlecht_Dict', 'T3_MIG_Status_Data', 'T3_MIG_Status_Dict', 'T4_ISCED_Data', 'T4.1_ISCED_EBA_Data', 'T4.2_ISCED_EFZ3_Data', 'T4.3_ISCED_EFZ4_Data', 'T4_ISCED_Dict', 'T4.1.1_ISCED_Beruf_EBA_Data', 'T4.2.1_ISCED_Beruf_EFZ3_Data', 'T4.3.1_ISCED_Beruf_EFZ4_Data', 'T4.1._ISCED_Beruf_Dict', 'T5_LVA_t_Data', 'T5_LVA_t_Dict', 'T6_Wiedereinstieg_Data', 'T6_Wiedereinstieg_Dict', 'T7_Zeitpkt_Wiedereinstieg_Data', 'T7_Zeitpkt_Wiederein_Dict', 'T8_Geschlecht_Wiedereinst_Data', 'T8_Geschlecht_Wiedereinst_Dict', 'T9_ISCED_Beruf_WEstg_G_Data', 'T9_ISCED_Beruf_WEstg_EBA_Data', 'T9_ISCED_Beruf_WEstg_EFZ3_Data', 'T9_ISCED_Beruf_WEstg_EFZ4_Data', 'T9_ISCED_Beruf_W-Einstieg_Dict', 'T10_Anschlussart_LVA_Data', 'T10_Anschlussart_LVA_Dict', 'T11_QV_Status_Ende_t_Data', 'T11_QV_Status_Ende_t_Dict', 'T12_QV_Status_Ende_t_sex_Data', 'T12_QV_Status_Ende_t_sex_Dict', 'T13_QV_Status_Ende_t_MIG_Data', 'T13_QV_Status_Ende_t_MIG_Dict', 'T14_QV_Status_Ende_t_Beruf_Data', 'T14_QV_Status_Ende_t_Beruf_Dict']

--- T1_Lernform_Data ---

,abschlussniveau,lernform,anzahl_lernende,anzahl_lehrvertraege_lva,anzahl_lernende_lva
0,EBA,Dual,5955,1915,1526
1,EBA,SOG,199,57,47
2,EFZ3,Dual,34548,10723,8458

--- T2_Geschlecht_Data ---

,abschlussniveau,geschlecht,anzahl_lernende,anzahl_lehrvertraege_lva,anzahl_lernende_lva
0,EBA,Männer,3827.0,1220.0,968.0
1,EBA,Frauen,2128.0,695.0,558.0
2,EBA,Unknown,NaN,NaN,NaN

--- T3_MIG_Status_Data ---

,abschlussniveau,mig_status,anzahl_lernende,anzahl_lehrvertraege_lva,anzahl_lernende_lva
0,EBA,CH,2528,901,696
1,EBA,MIG,2558,729,607
2,EBA,Swissborn MIG,842,273,213

--- T4_ISCED_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,779,199,OK
1,Total_Lernende,212,"Mode, Innenarchitektur und industrielles Design",212,39,OK
2,Total_Lernende,214,Kunsthandwerk,212,66,OK

--- T4.1_ISCED_EBA_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,37,8.0,OK
1,EBA,214,Kunsthandwerk,10,NaN,<30 Lehrverhältnisse
2,EBA,415,Sekretariats- und Büroarbeit,274,67.0,OK

--- T4.2_ISCED_EFZ3_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,53,12.0,OK
1,EFZ3,212,"Mode, Innenarchitektur und industrielles Design",11,NaN,<30 Lehrverhältnisse
2,EFZ3,214,Kunsthandwerk,176,59.0,OK

--- T4.3_ISCED_EFZ4_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,689,179.0,OK
1,EFZ4,212,"Mode, Innenarchitektur und industrielles Design",201,37.0,OK
2,EFZ4,214,Kunsthandwerk,26,NaN,<30 Lehrverhältnisse

--- T4.1.1_ISCED_Beruf_EBA_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,37,8.0,OK
1,EBA,214,Kunsthandwerk,Florist/in EBA,10,NaN,<30 Lehrverhältnisse
2,EBA,415,Sekretariats- und Büroarbeit,Büroassistent/in EBA,274,67.0,OK

--- T4.2.1_ISCED_Beruf_EFZ3_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Flexodrucker/in EFZ,8,NaN,<30 Lehrverhältnisse
1,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Fotofachmann/-frau EFZ,45,12.0,OK
2,EFZ3,212,"Mode, Innenarchitektur und industrielles Design",Wohntextilgestalter/in EFZ,11,NaN,<30 Lehrverhältnisse

--- T4.3.1_ISCED_Beruf_EFZ4_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende,anzahl_lernende_lva,datenstatus
0,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,27,NaN,<30 Lehrverhältnisse
1,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,82,16.0,OK
2,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Polygraf/in EFZ,100,18.0,OK

--- T5_LVA_t_Data ---

  abschlussniveau               lva_zeitpunkt  anzahl_lernende_lva
0           EBA      Probezeit (1.-3. Monat)*                  278
1           EBA    1. Lehrjahr (4.-12. Monat)                  867
2           EBA                   2. Lehrjahr                  341

--- T6_Wiedereinstieg_Data ---

  abschlussniveau       wiedereinstieg  anzahl_lernende_lva
0            EBA   Ohne Wiedereinstieg                  613
1            EBA    Mit Wiedereinstieg                  913
2            EFZ3  Ohne Wiedereinstieg                 1669

--- T7_Zeitpkt_Wiedereinstieg_Data ---

  abschlussniveau wiedereinstieg_dauer  anzahl_lernende_wiedereinstieg
0           EBA    Im 1. Jahr nach LVA                             627
1           EBA    Im 2. Jahr nach LVA                             187
2           EBA              > 2. Jahr                              99

--- T8_Geschlecht_Wiedereinst_Data ---

  abschlussniveau geschlecht  anzahl_lernende_wiedereinstieg
0           EBA       Männer                             968
1           EBA       Frauen                             558
2            EFZ3     Männer                            4394

--- T9_ISCED_Beruf_WEstg_G_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,8.0,NaN,<20 LVA
1,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
2,Total_Lernende,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,16.0,NaN,<20 LVA

--- T9_ISCED_Beruf_WEstg_EBA_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,8.0,NaN,<20 LVA
1,EBA,214,Kunsthandwerk,Florist/in EBA,NaN,NaN,<30 Lehrverhältnisse
2,EBA,415,Sekretariats- und Büroarbeit,Büroassistent/in EBA,67.0,41.0,OK

--- T9_ISCED_Beruf_WEstg_EFZ3_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Fotofachmann/-frau EFZ,12.0,NaN,<20 LVA
1,EFZ3,212,"Mode, Innenarchitektur und industrielles Design",Wohntextilgestalter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
2,EFZ3,214,Kunsthandwerk,Florist/in EFZ,56.0,46.0,OK

--- T9_ISCED_Beruf_WEstg_EFZ4_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
1,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,16.0,NaN,<20 LVA
2,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Polygraf/in EFZ,18.0,NaN,<20 LVA

--- T10_Anschlussart_LVA_Data ---

,abschlussniveau,lva_anschlussart,anzahl_lernende
0,EBA,"Neubeginn, kein Betriebswechsel",52
1,EBA,"Neubeginn, mit Betriebswechsel",305
2,EBA,"Berufswechsel, gleiche Dauer + anderes Feld",163

--- T11_QV_Status_Ende_t_Data ---

  abschlussniveau           qv_status  anzahl_lernende
0           EBA          QV bestanden             4568
1           EBA    QV nicht bestanden               96
2           EBA    Noch in Ausbildung              126

--- T12_QV_Status_Ende_t_sex_Data ---

  abschlussniveau geschlecht           qv_status  anzahl_lernende
0           EBA       Männer        QV bestanden             2699
1           EBA       Frauen        QV bestanden             1869
2           EBA       Männer  QV nicht bestanden               79

--- T13_QV_Status_Ende_t_MIG_Data ---

  abschlussniveau mig_status           qv_status  anzahl_lernende
0           EBA           CH        QV bestanden             2134
1           EBA           CH  QV nicht bestanden               47
2           EBA           CH  Noch in Ausbildung               68

--- T14_QV_Status_Ende_t_Beruf_Data ---

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,qv_status,anzahl_lernende,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,QV bestanden,NaN,<30
1,EBA,211,Audiovisuelle Techniken und Medienproduktion,QV nicht bestanden,NaN,<30
2,EBA,211,Audiovisuelle Techniken und Medienproduktion,Noch in Ausbildung,NaN,<30

In [12]:
# %% -------------  Audit Es wurden Flags für LVA & Wiedereinstiegsdaten gesetzt und eine Dimenesion "Kohorte" angelegt - > hier Audit Flags + Kohorte -------------
# Zunächst fehlerhaft, Anzeige von 1 bei Wiedereinstieg ohne LVA, Datenbereinigung erfolgte, danach OK
import pandas as pd
from sqlalchemy import create_engine, text

engine = create_engine(
    "mysql+pymysql://root:voc_root@localhost:3306/vocdata",
    future=True, echo=False
)

sql = """
SELECT
    kohorte_id,
    is_lva,
    is_wiedereinstieg,
    COUNT(*) AS zeilen
FROM fact_lva_stats
GROUP BY kohorte_id, is_lva, is_wiedereinstieg
ORDER BY kohorte_id, is_lva, is_wiedereinstieg;
"""
pd.read_sql(text(sql), engine)

   kohorte_id  is_lva  is_wiedereinstieg  zeilen
0           1       0                  0     111
1           1       1                  0     887
2           1       1                  1     193

In [13]:
# %% --------Da Umbennenugn der Spalten im Excel (ursprüngliche Inkonsistenz beseitigt) --> Fehler im Code, daher Kontrolle via Script & Abgleich Spaltenabgleich Tabelle ↔ Excel --------
import pandas as pd
from sqlalchemy import create_engine
from pathlib import Path

engine = create_engine("mysql+pymysql://root:voc_root@localhost:3306/vocdata", echo=False)
excel_file = Path("../data/bfs_data_lva.xlsx")   # falls Pfad anders: anpassen

# 1) Spalten der MySQL-Tabelle
db_cols = pd.read_sql("SELECT * FROM fact_lva_stats LIMIT 0", engine).columns

# 2) Alle Kopfzeilen aus *allen* *_Data-Blättern
xls = pd.ExcelFile(excel_file)
excel_cols = set()
for sh in xls.sheet_names:
    if sh.lower().endswith("_data"):
        df_head = pd.read_excel(xls, sheet_name=sh, nrows=5)   # reicht für Header
        excel_cols.update(c.strip() for c in df_head.columns)

# 3) Vergleich
only_in_db   = sorted(set(db_cols)  - excel_cols)
only_in_xls  = sorted(excel_cols    - set(db_cols))

print("Nur in Datenbank:", only_in_db)
print("Nur im Excel   :", only_in_xls)

Nur in Datenbank: ['abschlussniveau_id', 'anschlussart_id', 'anzahl_lehrvertraege', 'anzahl_lva_vertraege', 'beruf_id', 'fact_id', 'geschlecht_id', 'is_lva', 'is_wiedereinstieg', 'isced_id', 'kohorte_id', 'lernform_id', 'lva_zeitraum_id', 'mig_status_id', 'qv_status_id', 'total_lernende', 'wiedereinst_dauer_id']
Nur im Excel   : ['abschlussniveau', 'ausbildungsfeld_isced_bez', 'ausbildungsfeld_isced_code', 'beruf_bez', 'geschlecht', 'lernform', 'lva_anschlussart', 'lva_zeitpunkt', 'mig_status', 'qv_status', 'wiedereinstieg', 'wiedereinstieg_dauer']